<div id="create-post-container" class="d-flex justify-content-center align-items-center min-vh-100">
	<div id="create-post-form" class="bg-dark p-4 rounded w-50 border border-secondary text-light">
		<form hx-post="/post" hx-target="#create-post-container" hx-swap="innerHTML">
			<input
				class="form-control mb-3 border-secondary bg-dark text-light"
				type="text"
				name="title"
				placeholder="Title"
				required
			/>

			<textarea
				class="form-control mb-3 border-secondary bg-dark text-light"
				name="body"
				rows="5"
				placeholder="What's on your mind?"
				required
			></textarea>

			<input
				class="form-control mb-3 border-secondary bg-dark text-light"
				type="url"
				name="image"
				placeholder="Optional image URL"
			/>

			<div class="form-check form-switch mb-3">
				<input class="form-check-input" type="checkbox" role="switch" id="public-switch" name="public" checked />
				<label class="form-check-label" for="public-switch">Public</label>
			</div>

			<button type="submit" class="btn btn-outline-light w-100">Create</button>
		</form>
	</div>
</div>
