<div class="d-flex justify-content-center align-items-center min-vh-100">
	<div id="login-container" class="bg-dark text-light p-4 rounded w-25 border border-secondary">
		<form hx-post="/login" hx-target="#login-container" hx-swap="innerHTML">
			<input class="form-control mb-3 bg-dark text-light border-secondary" type="email" name="email" placeholder="Email" autocomplete="email" />
			<input class="form-control mb-3 bg-dark text-light border-secondary" type="password" name="password" placeholder="Password" autocomplete="current-password" />
			<button class="btn btn-outline-light w-100" type="submit">Login</button>
		</form>
	</div>
</div>
